---
import ImageWrapper from "@components/misc/ImageWrapper.astro";
import { Icon } from "astro-icon/components";
import { profileConfig } from "@/config";

const config = profileConfig;
---
<div class="card-base p-3">
    <div class="relative mx-auto mt-1 mb-3 max-w-[8rem] lg:max-w-[12rem] overflow-hidden rounded-full aspect-square">
        <ImageWrapper src={config.avatar || ""} alt="Author avatar" class="w-full h-full rounded-full object-cover" loading="eager" />
    </div>
    <div class="px-2">
        <div class="font-bold text-xl text-center mb-1 dark:text-neutral-50 transition">{config.name}</div>
        <div class="h-1 w-5 bg-(--primary) mx-auto rounded-full mb-2 transition" />
        <div class="text-center text-neutral-400 mb-2.5 transition">{config.bio}</div>
        <div class="flex flex-wrap gap-2 justify-center mb-1">
            {config.links.length > 1 && config.links.map(item =>
                    <a rel="me" aria-label={item.name} href={item.url} target="_blank" class="btn-regular rounded-lg h-10 w-10 active:scale-90">
                        <Icon name={item.icon} class="text-[1.5rem]" />
                    </a>
            )}
            {config.links.length == 1 && <a rel="me" aria-label={config.links[0].name} href={config.links[0].url} target="_blank" rel="noopener noreferrer"
                                            class="btn-regular rounded-lg h-10 gap-2 px-3 font-bold active:scale-95">
                <Icon name={config.links[0].icon} class="text-[1.5rem]" />
                {config.links[0].name}
            </a>}
        </div>
    </div>
</div>

