---

import ViewCounter from "@components/misc/ViewCounter.svelte";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import { url } from "@utils/url-utils";
import { Icon } from "astro-icon/components";
import { profileConfig, siteConfig, umamiConfig } from "@/config";

const currentYear = new Date().getFullYear();
---

<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6" role="contentinfo" aria-label="Footer Information">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
        <a class="transition link text-(--primary) font-medium" href={url('feed/')}>RSS & Atom</a> /
        <a class="transition link text-(--primary) font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
    </div>
    <div class="transition text-50 text-sm text-center">
        Powered by
        <a class="transition link text-(--primary) font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-(--primary) font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
        {siteConfig.record?.enable && <>{" / "}<a class="transition link text-(--primary) font-medium whitespace-nowrap" target="_blank" href={siteConfig.record.url}>{siteConfig.record.text}</a></>}
    </div>
    {umamiConfig.enable && umamiConfig.shareId && (
        <div class="flex flex-wrap items-center justify-center gap-2 text-xs text-black/50 dark:text-white/50">
            <div class="flex items-center gap-1">
                <Icon name="material-symbols:visibility-outline-rounded" class="text-base" />
                <span class="flex items-center gap-1">
                    {i18n(I18nKey.siteViews)}
                    <ViewCounter client:only="svelte" class="text-xs font-medium" />
                </span>
            </div>
            <span class="text-black/30 dark:text-white/30">/</span>
            <div class="flex items-center gap-1">
                <Icon name="material-symbols:person-outline-rounded" class="text-base" />
                <span class="flex items-center gap-1">
                    {i18n(I18nKey.siteVisitors)}
                    <ViewCounter client:only="svelte" class="text-xs font-medium" metric="visitors" />
                </span>
            </div>
        </div>
    )}
</div>